.backtomain{
    text-decoration: none;
    color: black;
 }
 
 .backtomain:hover{
     text-decoration: none;
     color: grey;
  }

.ccbanner{
    background-color: rgba(241.5, 199.5, 10.5, 1);

    
}

.reviewsImg{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.reviewsDate{
    line-height: 0.8em;
    font-size: 14px;
    color: gray;
}

.reviewsContent{
    line-height: 1.25em;
    
}

.starRating{
    color: gold;
}

.season:hover{
    color: gray;
}

.accHeader{
    cursor: pointer;
    display: inline-block;
}

.accHeader:hover{
 color: grey;
}

.epCrewHead{
    font-size: 13px;
}

.epFullCastCrewHead{
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.epFullCastCrewHead:hover{
    color: grey
}

.profileImg img{
    width: 64px;
    position: absolute;
    clip: rect(10px,60px,74px,0px);
}

.profileName p{
    position: relative;
    left: 60px;
    top: 20px;
    line-height: 0.8em;
    font-size: 14px;

}