.ImgWidth:hover{
    width: 310px;
}

.playBtn{
    position: absolute;
    top: 45%;
    left: 45%;
}

.ImgContainer{
    position: relative;
    font-size: 40px;
}

.ImgContainer:hover{
    font-size: 45px;
}